[Unit]
Description=Runs networkdispatcher daemon to trigger scripts on network state change events

[Service]
Type=simple
# TODO <bin_dir> must be replaced with real bin directory script installed
ExecStart=<bin_dir>/network-dispatcher

[Install]
WantedBy=graphical-session.target

